.cli-window{
    height: 100%;
    width: 100%;
    div[name="react-console-emulator"]{
        height: 100%;
        padding-bottom: 10rem;
        
    }
    ::-webkit-scrollbar{
            display: none;
        }
}