.window {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 0.75rem;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  color: rgb(168, 168, 168);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  .nav {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    border-bottom: 1px solid rgba(245, 245, 245, 0.24);
    .dotes {
      display: flex;
      gap: 0.25rem;
      .dot {
        height: 15px;
        width: 15px;
        background-color: white;
        border-radius: 50%;
      }
      .red {
        background-color: #eb3535;
      }
      .yellow {
        background-color: rgb(247, 247, 81);
      }
      .green {
        background-color: rgb(27, 228, 0);
      }
    }
  }
  .main-content {
    
    overflow-x: hidden;
    height: 100%;
  }
  *::-webkit-scrollbar {
    width: 8px;
  }
  *::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: rgba(165,165,165,0.4);
  }
}
