* {
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  background-color: black;
}
main {
  height: 100%;
  width: 100%;
  background-image: url(./assets/macos_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
